body {
  background-color: #000033;
  color: #00ffcc;
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #000000;
  border: 1px solid #00ffcc;
}

::-webkit-scrollbar-thumb {
  background-color: #00ffcc;
  border: 2px solid #000033;
  border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #00ffff;
}

.container {
  width: 90%;
  margin: auto;
  padding: 20px;
  background-color: #000000;
  border: 2px solid #00ffcc;
  box-shadow: 0 0 15px #00ffcc;
}

header {
  text-align: center;
  padding: 10px 0;
  border-bottom: 2px dashed #00ffcc;
}

header h1 {
  margin: 0;
  font-size: 3em;
  color: #ffcc00;
}

nav a {
  color: #00ffff;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

main {
  margin-top: 20px;
}

.forum-topic {
  background-color: #001144;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #00ffcc;
}

.forum-topic h2 {
  color: #ff66cc;
}

.post {
  margin-top: 10px;
  background-color: #000033;
  padding: 10px;
  border: 1px dashed #00ffff;
}

footer {
  text-align: center;
  padding: 10px;
  font-size: 0.9em;
  border-top: 2px dashed #00ffcc;
  margin-top: 20px;
  color: #999999;
}
